body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

.wrapper {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
    &:after {
      content: '';
      display: block;
      clear: both;
    }
}

.header {
  @media only screen and (min-width: $mobile) {}
}
.content {

}
.footer {
    text-align: center;
}